@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var data = "";
}

<div class="row flex-fill d-flex h-100">

    <div id='map' class='col-8 h-100' style='min-width: 800px; min-height: 600px;'></div>
    <div id="info" class="col-8 h1-100 bg-secondary"><p>Info</p></div>

</div>